
.hero {
    width: 100%;
    height: 525px;
    background: var(--bg-hero);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(50%);
    position: relative;
}

h1 {
    letter-spacing: 0.075ch;
    color: var(--c-brown);
    text-align: center;
    --light-pos-x: 1; /* left: -1, center: 0, right: 1 */
    --light-pos-y: -1; /* top: -1, center: 0, bottom: 1 */
    --rim-size: .02ch;
    --shadow-offset: .2ch;
    --shadow-blur: .1ch;
    text-shadow: 
        calc(max(var(--rim-size), 1px) * var(--light-pos-x)) calc(max(var(--rim-size), 1px) * var(--light-pos-y)) hsl(0 0% 100%),
        calc(max(var(--rim-size), 1px) * var(--light-pos-x) * -1) calc(max(var(--rim-size), 1px) * var(--light-pos-y) * -1) hsl(0 0% 60%),
        calc(var(--shadow-offset) * var(--light-pos-x) * -1) calc(var(--shadow-offset) * var(--light-pos-y) * -1) var(--shadow-blur) hsl(0 0% 50% / .75);
}

.img_container {
    perspective: 1000px;
}
@keyframes rotateAnimation {
    from {
        transform: perspective(1000px) rotateY(-70deg) rotateX(70deg) rotate(0deg); /* Initial transform */
    }
    to {
        transform: perspective(1000px) rotateY(-70deg) rotateX(70deg) rotate(360deg); /* Final transform */
    }
}

.alienVinyl {
    width: 500px;
    margin-top: -100px;
    transform: rotateY(-70deg) rotateX(70deg);
    animation: rotateAnimation 6s linear infinite;
    border-radius: 50%;
    border: 4px solid var(--c-turquoise);
}

/* ===Equalizer=== */
#box{	
    width: 150px;
	height: 150px;
	position:absolute;
    top: 67%;
	left: 53%;
	text-align: center;
	transform: translate(-50%, 0%);
    z-index: 2;
}
#circle{
	width: 100%;
	height: 100%;
	border-radius: 500px;
    /* border: 12px solid var(--c-grey); */
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.25),
                inset 7px 7px 10px rgba(255, 255, 255, 0.5),
                inset -6px -6px 8px rgba(0, 0, 0, 0.7);
}
#square{
	top: 23%;
    left: 16%;
    width: 100px;
    height: 80px;
	position:relative;
	text-align: center;
	transform: rotateX(180deg);
	background-color: transparent;
}
.bar1{
	margin: 2%;
	padding-left: 13px;
    border-radius: 5px;
	background-color: var(--c-red);
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
	padding-bottom: random(1, 100)px;
}

.bar2{
	margin: 2%;
	padding-left: 13px;
    border-radius: 5px;
	background-color: var(--c-label-lg);
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
	padding-bottom: random(1, 100)px;
}


.b1{
	animation-name: b1;
}
@keyframes b1 {
	0% {padding-bottom: 10%;}
	16% {padding-bottom: 30%;}
	36% {padding-bottom: 20%;}
	52% {padding-bottom: 11%}
	68% {padding-bottom: 25%}
	68% {padding-bottom: 15%}
	84% {padding-bottom: 17%}
	100% {padding-bottom: 10%}
}


.b2{
	animation-name: b2;
}
@keyframes b2 {
	0% {padding-bottom: 20%;}
	16% {padding-bottom: 50%;}
	36% {padding-bottom: 25%;}
	52% {padding-bottom: 40%}
	68% {padding-bottom: 15%}
	68% {padding-bottom: 35%}
	84% {padding-bottom: 45%}
	100% {padding-bottom: 20%}
}
	
.b3{
	animation-name: b3;
}
@keyframes b3 {
	0% {padding-bottom: 5%;}
	16% {padding-bottom: 60%;}
	36% {padding-bottom: 40%;}
	52% {padding-bottom: 70%}
	68% {padding-bottom: 80%}
	68% {padding-bottom: 50%}
	84% {padding-bottom: 80%}
	100% {padding-bottom: 5%}
}

.b4{
	animation-name: b4;
}
@keyframes b4 {
	0% {padding-bottom: 5%;}
	16% {padding-bottom: 20%;}
	36% {padding-bottom: 10%;}
	52% {padding-bottom: 40%}
	68% {padding-bottom: 50%}
	68% {padding-bottom: 40%}
	84% {padding-bottom: 75%}
	100% {padding-bottom: 5%}
}

.b5{
	animation-name: b5;
}
@keyframes b5 {
	0% {padding-bottom: 15%;}
	16% {padding-bottom: 40%;}
	36% {padding-bottom: 25%;}
	52% {padding-bottom: 50%}
	68% {padding-bottom: 75%}
	68% {padding-bottom: 30%}
	84% {padding-bottom: 65%}
	100% {padding-bottom: 15%}
}
/* =============== */