

.search_input_box {
    width: fit-content;
    position: sticky;
    top: var(--l-md1);
    z-index: 100;
}
.input-wrapper {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
}

.input {
    border-style: none;
    height: 50px;
    width: 50px;
    padding: 10px;
    outline: none;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
    background-color: var(--c-grey-lg);
    padding-right: 40px;
    color: var(--c-light);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
                inset 2px 2px 5px rgba(255, 255, 255, 0.5),
                inset -3px -3px 5px rgba(0, 0, 0, 0.5);
}

.input::placeholder,
.input {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 17px;
}

.input::placeholder {
    color: var(--c-light);
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    outline: none;
    border-style: none;
    border-radius: 50%;
    pointer-events: painted;
    background-color: transparent;
    transition: 0.2s linear;
}
.icon svg {
    filter: var(--img-shadow-1);
}

.icon:focus ~ .input,
.input:focus {
    box-shadow: none;
    width: 250px;
    padding: var(--l-md2);
    border-radius: var(--l-sm3);
    background-color: var(--c-brown);
    border-bottom: 3px solid var(--c-gold-md);
    transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.category_button_wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--l-sm2);
    background-color: var(--c-brown);
    border-radius: 5px;
    box-shadow: inset 0 0 3px 0px #fff3, 0 0 0 5px #0004, 0 0 3px 2px #000, 0 0 15px 0px #0005, 2px 2px 1px 5px #fff4;
}

.category_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    padding: var(--l-sm2) var(--l-sm3);
    border-radius: 10px;
    border: none;
    outline: none;
    color: var(--c-light);
    text-shadow: var(--text-shadow);
    /* background-color: #545251; */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
    background-blend-mode: multiply, multiply;
    box-shadow: rgba(0, 0, 0, 0.377) 10px 10px 8px, #a8a6a4 1.5px 1.5px 1px 0px inset, #545251 -3.2px -3.2px 8px 0px inset;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}
.category_button:active,
.category_button.active {
    color: var(--c-gold-sm);
    background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
    text-shadow: var(--text-shadow);
    box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 0px, inset 0.5px 0.5px 4px #000000, #545251 -3.2px -3.2px 8px 0px inset;
}

.category_indicator {
    position: absolute;
    top: 3%;
    right: 3%;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    border: 1px solid var(--c-grey-lg);
    box-shadow: 1px 1px 3px rgba(35, 35, 35, 0.25),
                inset 1px 1px 3px rgba(255, 255, 255, 0.5),
                inset -1px -1px 3px rgba(35, 35, 35, 0.5);
    opacity: .6;
}

.category_button:active ~ .category_indicator {
    background: var(--c-turquoise);
    opacity: 1;
    scale: 1.1;
}
.category_indicator.active {
    background: var(--c-turquoise);
    opacity: 1;
    scale: 1.2;
}

.category_control_wrapper {
    border-bottom-left-radius: var(--l-sm3);
    border-bottom-right-radius: var(--l-sm3);
    background: var(--bg-modal-body);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.c-icon {
    filter: var(--img-shadow-4);
    transition: var(--transition-sm);
}
.c-icon:hover {
    cursor: pointer;
    scale: 1.1;
}

