@import "~normalize.css/normalize.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");



html {
  box-sizing: border-box;
  font-size: 100%;
}

*, 
*::before, 
*::after {
  box-sizing: inherit;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: 'Manrope', sans-serif; */
}

:root {
  --size: calc(1vh + 1vw);

  --c-light: hsl(216, 45%, 98%);
  --c-turquoise: hsl(177, 93%, 47%);
  --c-label-lg: hsl(210, 11%, 71%);
  --c-grey: hsl(0, 0%, 50%);
  --c-grey-lg: hsl(206, 4%, 35%);
  --c-brown: hsl(0, 1%, 28%);
  --c-dark: hsl(0, 0%, 5%);
  --c-dark-rgba: rgba(0, 0, 0, 0.5);
  --c-light-rgba: rgba(255, 255, 255, 0.8);
  --c-dark-md: hsl(243, 17%, 22%);
  --c-red: hsl(332, 100%, 41%);
  --c-gold-sm: hsl(45, 100%, 50%);
  --c-gold-md: hsl(45, 60%, 47%);

  --l-sm1: .25rem;
  --l-sm2: .375rem;
  --l-sm3: .5rem;
  --l-sm4: .75rem;
  --l-md1: 1rem;
  --l-md2: 1.25rem;
  --l-md3: 1.5rem;
  --l-lg1: 2rem;
  --l-lg2: 3rem;
  --l-lg3: 4rem;
  --l-lg4: 4.7rem;

--record-shadow-lg: 
  0 0 0 2px #ffffff10, 0 0 0 5px #1a1a1a, 
  0 0 0 6px #ffffff10, 0 0 0 8px #1a1a1a, 
  0 0 0 10px #ffffff10, 0 0 0 14px #1a1a1a, 
  0 0 0 16px #ffffff10, 0 0 0 20px #1a1a1a, 
  0 0 0 23px #ffffff10, 0 0 0 25px #1a1a1a, 
  0 0 0 26px #ffffff10, 0 0 0 28px #1a1a1a, 
  0 0 0 30px #ffffff10, 0 0 0 34px #1a1a1a, 
  0 0 0 36px #ffffff10, 0 0 0 40px #1a1a1a, 
  0 0 0 42px #ffffff10, 0 0 0 45px #1a1a1a, 
  0 0 0 46px #ffffff10, 0 0 0 48px #1a1a1a, 
  0 0 0 50px #ffffff10, 0 0 0 54px #1a1a1a, 
  0 0 0 56px #ffffff10, 0 0 0 60px #1a1a1a, 
  0 0 0 63px #ffffff10, 0 0 0 65px #1a1a1a, 
  0 0 0 66px #ffffff10, 0 0 0 68px #1a1a1a, 
  0 0 0 70px #ffffff10, 0 0 0 74px #1a1a1a, 
  0 0 0 76px #ffffff10, 0 0 0 80px #1a1a1a, 
  0 0 0 83px #ffffff10, 0 0 0 85px #1a1a1a, 
  0 0 0 86px #ffffff10, 0 0 0 88px #1a1a1a, 
  0 0 0 90px #ffffff10, 0 0 0 94px #1a1a1a, 
  0 0 0 96px #ffffff10, 0 0 0 100px #1a1a1a, 
  0 0 0 102px #ffffff10, 0 0 0 105px #1a1a1a,
  0 0 0 108px #ffffff10, 0 0 0 110px #1a1a1a, 
  0 0 0 112px #ffffff10, 0 0 0 114px #1a1a1a, 
  0 0 0 117px #ffffff10, 0 0 0 119px #1a1a1a, 
  0 0 0 121px #ffffff10, 0 0 0 124px #1a1a1a;

  /*  rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px */
  /* , 
  0 0 0 108px #ffffff10, 0 0 0 110px #1a1a1a, 
  0 0 0 112px #ffffff10, 0 0 0 114px #1a1a1a, 
  0 0 0 117px #ffffff10, 0 0 0 119px #1a1a1a, 
  0 0 0 121px #ffffff10, 0 0 0 124px #1a1a1a, 
  0 0 0 127px #ffffff10, 0 0 0 130px #1a1a1a, 
  0 0 0 132px #ffffff10, 0 0 0 134px #1a1a1a, 
  0 0 0 137px #ffffff10, 0 0 0 139px #1a1a1a, 
  0 0 0 142px #ffffff10, 0 0 0 146px #1a1a1a */

  --record-shadow-sm: 0 0 0 2px #ffffff10, 0 0 0 5px #1a1a1a, 0 0 0 6px #ffffff10, 0 0 0 8px #1a1a1a, 0 0 0 10px #ffffff10, 0 0 0 14px #1a1a1a, 0 0 0 16px #ffffff10, 0 0 0 20px #1a1a1a, 0 0 0 23px #ffffff10, 0 0 0 25px #1a1a1a, 0 0 0 26px #ffffff10, 0 0 0 28px #1a1a1a, 0 0 0 30px #ffffff10, 0 0 0 34px #1a1a1a, 0 0 0 36px #ffffff10, 0 0 0 40px #1a1a1a, 0 0 0 42px #ffffff10, 0 0 0 45px #1a1a1a, 0 0 0 46px #ffffff10, 0 0 0 48px #1a1a1a, 0 0 0 50px #ffffff10, 0 0 0 54px #1a1a1a, 0 0 0 56px #ffffff10;

  
  --transition-sm: 125ms ease-in-out;
  --transition-1: 250ms ease-in-out;
  --transition-2: 500ms ease-in-out;
  --transition-3: 750ms ease-in-out;

  --text-shadow: 0px 4px 3px 
    rgb(0 0 0 / 40%), 0px 8px 13px 
    rgb(0 0 0 / 10%), 0px 18px 23px 
    rgb(0 0 0 / 10%);

  --img-shadow-1: drop-shadow(1px 2px 3px #000000);
  --img-shadow-2: drop-shadow(1px 1px 2px #D7E2FE);
  --img-shadow-3: drop-shadow(1px 2px 3px rgb(115, 241, 11));
  --img-shadow-4: drop-shadow(1px 2px 1px #8d8282);
  --img-shadow-5: drop-shadow(1px 2px 3px #FFFFFF);
  --img-shadow-6: drop-shadow(3px 5px 4px #ffee01);

  --speaker-bg: url('./assets/images/speakerNet.jpg');
  --bg-hero: url('./assets/images/AppBg1.jpg');
  --bg-modal-body: url('./assets/images/string-pattern.png');
  --bg-vinyl-base: url('./assets/images/platter-for-vinyl1.png');
}

@import './ui-style/keyframes.css';

@import './ui-style/ui-scroll-set.css';

@import './ui-style/ui-hero.css';

@import './ui-style/ui-search-input.css';

@import './ui-style/ui-vinyl-library.css';

@import './ui-style/ui-turntable.css';